# dependencies
node_modules/

# next
.next/
out/
tsconfig.tsbuildinfo

# production
build/
dist/

# local env
.env
.env*.local

# logs
pnpm-debug.log*
dev.stdout.log
dev.stderr.log

# system
.DS_Store
Thumbs.db
